@{
    ViewBag.Title = "Registered Successfully";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    <p>You've registered successfully!</p>
    <hr />
    <div class="LinkReturnHome">
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>
</div>