@model HamperAddViewModel

@{
    ViewBag.Title = "Add A New Hamper";
}

<div class="headingOneBanner">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container">

    @if (ViewBag.CategoriesExist)
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <form asp-controller="Hamper" asp-action="Add" method="post" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly"></div>

                <!--(Hidden Field) Category Id-->
                <div>
                    <input asp-for="CategoryId" type="hidden" />
                </div>

                <!--Hamper Name-->
                <div>
                    <label asp-for="HamperName" class="customLabel">Hamper Name:</label>
                    <input asp-for="HamperName" class="form-control" />
                    <span asp-validation-for="HamperName"></span>
                </div>

                <!--Products-->
                <div>
                    <label asp-for="Products" class="customLabel">Products:</label>
                    <textarea asp-for="Products" class="form-control"></textarea>
                    <span asp-validation-for="Products"></span>
                </div>

                <!--Description-->
                <div>
                    <label asp-for="Description" class="customLabel">Description:</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>

                <!--Price-->
                <div>
                    <label asp-for="Price" class="customLabel">Price:</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price"></span>
                </div>

                <!--Supplier-->
                <div>
                    <label asp-for="Supplier" class="customLabel">Supplier:</label>
                    <input asp-for="Supplier" class="form-control" />
                    <span asp-validation-for="Supplier"></span>
                </div>

                <!--Image URL-->
                <div>
                    <label asp-for="ImageUrl" class="customLabel"><i>(Optional) Image URL:</i></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl"></span>
                </div>

                <hr />

                <!--SUBMIT-->
                <div>
                    <input type="submit" value="Add Hamper" class="form-button" />
                </div>
            </form>
        </div>
        }
        else
        {
        <div>
            <p>No categories exist yet! You'll need to @Html.ActionLink("create a category", "Add", "Category") before you can start adding hampers.</p>
            <p>@Html.ActionLink("Create a New Category", "Add", "Category")</p>
        </div>                       
        }
</div>