@model CategoryDeleteViewModel

@{
    ViewBag.Title = "Delete Category";
}

<div class="headingOneBanner">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container">
    <h3>Are you sure you want to delete @Model.CategoryName?</h3>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <form asp-controller="Category" asp-action="Delete" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly"></div>

            <!--(Hidden Field) Hamper Id-->
            <div>
                <input asp-for="CategoryId" type="hidden" />
            </div>

            <!--SUBMIT-->
            <div>
                <input type="submit" value="Yes, Delete @Model.CategoryName" class="form-button deleteButton" />
            </div>
        </form>
    </div>
</div>