@{
    ViewBag.Title = "Category Updated Successfully";
}

<div class="headingOneBanner">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container">
    <div class="LinkReturnHome">
        <p>@Html.ActionLink("Return to Manage Categories", "Manage", "Category")</p>
    </div>

    <div class="LinkReturnHome">
        <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
    </div>
</div>