@{
    ViewBag.Title = "User Registered Successfully";
}

<div class="headingOneBanner">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container">
    <div class="LinkReturnHome">
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>
</div>