@{
    ViewBag.Title = "Order processed successfully!";
}

<div class="headingOneBanner">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container">
    <div>
        <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
    </div>
</div>